<div class="py-24" id="contact">
  <div class="container flex flex-wrap justify-center md:justify-start text-center md:text-left gap-10 md:gap-20 ">
    <div
      class="bg-grayBg border p-5 py-10 border-black rounded-xl max-w-sm flex flex-col justify-start items-center md:items-left">
      <img class="w-[150px]" src="assets/logo.svg" alt="logo">
      <h2 class="font-extrabold md:text-left text-center md:text-[45px] text-[40px] py-8">
        READY TO GET
        STARTED?
      </h2>
      <a href="" class="btn text-2xl text-center">
        Schedule A Meeting
      </a>
    </div>
    <div class=" ">
      <h3>NAVIGATION</h3>
      <ul>
        <li><a href="#home"> Home</a></li>
        <li><a href="#aboutUs"> About Us</a></li>
        <li><a href="#services"> Our Services</a></li>
        <li><a href="#contact"> Contact</a></li>
      </ul>
    </div>
    <div class=" ">
      <h3>CONTACT US </h3>
      <ul>
        <li><a class="flex items-center" href="mailto:support@cabitalize.com"><img class="mr-3" src="assets/mail.svg"
              alt="">support@cabitalize.com</a></li>
        <li><a class="flex items-center" href="tel:+123-456-789-987"><img class="mr-3" src="assets/phone.svg"
              alt="">+123-456-789-987</a></li>
        <li><a href="#aboutUs">Terms Of Service</a></li>
        <li><a href="#services">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>