<div id="services" class=" my-20 py-20">
  <div class="container">
    <div class="titles max-w-lg mx-auto text-center">
      <h1 class="text-[27px] md:text-4xl font-extrabold py-5 text-orangeColor dReveal">WHAT DO WE OFFER ?</h1>
      <p class="text-[15px] md:text-xl font-medium  dReveal">Choose from our wide range of tailored solutions
        that are designed to fit your unique needs</p>
    </div>
    <div class="flex divs flex-wrap justify-between pt-12">
      <div class="mx-auto flex flex-col gap-5 rounded-lg px-5 py-10 w-full max-w-[560px] dReveal"
        *ngFor="let div of divs">
        <img class="w-16" [src]="'assets/services/'+div.icon" alt="">
        <h2 class="font-bold text-[25px] md:text-4xl uppercase">{{div.name}}</h2>
        <p class="text-sm md:text-xl font-medium capitalize">{{div.dis}}</p>
      </div>
    </div>
  </div>
</div>