.container {
  @apply relative z-0;
  &::after,
  &::before {
    content: "";
    @apply absolute top-0;
    background: url("../../../../../assets/services/paper.svg") no-repeat center
      center;
    background-size: contain;
    width: 25%;
    height: 360px;
    z-index: -1;
  }
  &::after {
    @apply left-16;
  }
  &::before {
    @apply right-16;
    transform: rotateY(180deg);
  }
  .divs {
    gap: 35px 55px;
    > div {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
      @apply bg-grayBg;
    }
  }
}
