<div id="aboutUs">
  <div class="container flex justify-evenly items-center flex-wrap-reverse py-14">
    <div class="max-w-md lReveal">
      <img src="assets/about-us.png" alt="about us image">
    </div>
    <div class="max-w-md text-center md:text-left">
      <h1 class="text-4xl font-extrabold text-orangeColor dReveal uppercase">WHO ARE WE ?</h1>
      <p class="text-xl font-medium py-8 dReveal capitalize">
        We are CABITALIZE CONSULTING, a
        digital marketing agency that blends
        creativity and innovation to transform
        businesses. Our team of experts is
        dedicated to helping you succeed in the
        ever-changing digital landscape. Let's work
        together to create something extraordinary
      </p>
      <div class=" flex items-center justify-center md:justify-between  flex-wrap gap-14 md:gap-3 dReveal">
        <a class="w-1/3 max-w-fit" href=""><img src="assets/facebook icon.svg" alt="facebook icon"></a>
        <a class="w-1/3 max-w-fit" href=""> <img src="assets/instagram icon.svg" alt="instagram icon">
        </a>
        <img class="w-1/3 max-w-fit hidden md:block" src="assets/Evergreen.png" alt="leaf image">
      </div>
    </div>

  </div>
</div>